.img-cat {
    width: 200px;
    height: 200px;
    margin-right: 10px;
    float: left;
    object-fit: cover;
    shape-outside: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
  
.text-left {
    float: left;
}