

html{
    height: 100%;
}

body{
    margin: 0;
    background-color: rgba(187, 173, 173, 0.37);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 0;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    left: 3%;
    
    
}

header  u{
    color: rgb(255, 60, 0);
    position: relative;
    left: 10px;
    top: 30px;
    border: 2px solid #ff5506;
    padding: 3px;
    outline: #544994 solid 5px;
    outline-offset: 2px;
    font-size: 50px;
    float: left;
    padding: top 20px;
    
    
}
.box{
    border: 1px red ;
}

.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

header::after{
    content:'';
    display: table;
    clear: both;
}
header{
    background: rgb(32, 31, 31);
    height: 110px;
}

header.sticky{
    background: rgb(32, 31, 31);
}

.logo{
    float: left;
    padding: 5px 0;
}

.bolded { font-weight: bold; }

nav ul{
    margin: 0;
    padding: 0;
    padding-top: 15px;
    list-style: none;
    position: relative;
    right: -30%;
    margin: 0px !important;
    padding: 0px !important;
}

.menu-btn{
    color: white;
    font-size: 23px;
    float: right;
    cursor: pointer;
}
.nocontact{
    width: 600vh;
    height: 100%;
    position: center;
    background-repeat: repeat-x;
    display: flex;
    height: 100vh;
    background: url("logo2.jpg") no-repeat center;
    color: white;
    min-width: 500px;
    font-family:serif;
}




nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 40px;

    position: relative;
}

nav > ul > li >a{
    color: rgb(202, 233, 25);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;

}

nav > ul > li >a:hover{
    color: white
}

nav > ul > li >a::before{
    content: ' ';
    display: block;
    height: 5px;
    width: 100%;
    background-color: tomato;


    position: absolute;

    top: 30px;

    width: 0%;

    transition: all ease-in-out 250ms;
}


nav > ul > li >a:hover::before{
    width: 100%;

}

/* Home section*/
.home{
    display: flex;
    background: url("star.jpg") no-repeat center;
    height: 70vh;
    background-repeat: repeat-x;
    width: 100%;
    color: white;
    min-width: 500px;
    font-family:serif;

}
.logoimage{
    float:left;
}

.home .max-width{
    margin: auto 0 auto 40px;

}

.home .home-content .text-1{
    font-size: 40px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 60px;
    margin: 5px 0;
    color: tomato;
}

.home .home-content .text-3 span{
    color: yellow;
    font-weight: 500;
}

/*home2*/
/* Home section*/
.home2{
    display: flex;
    background: #6c6d68b6;
    height: 24vh;
    background-repeat: repeat-x;
    width: 100%;
    color: white;
    min-width: 500px;
    font-family:serif;
    align-items: center;
    text-align: center;

}


.home2 .max-width2{
    margin: auto 0 auto 40px;

}

.home2 .home-content2 .text-1{
    font-size: 40px;
    color: #7bdb78
}



.home2 .home-content2 .text-3{
    font-size: 60px;
    margin: 5px 0;
    color: tomato;
}

.home2 .home-content2 .text-3 span{
    color: yellow;
    font-weight: 500;
}

.body{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;

}


.khangim{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    float: left;
    
    margin-right: 20px;
    margin-bottom: 10px;
    object-fit: cover;
}


.Khang{
    top: 100px;
    padding: 100px;
    
    height: 40%;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    resize: both;
    overflow: hide;
    


}

.BoxFinch {
    padding: 115px;
    background-color: #6c6d68b6;
    height: 100%;
    
    
    margin:auto;
    
    resize: both;
    overflow: hide;
}

.BoxF {
    padding: 115px;
    background-color: #fff;
    height: 100%;
    
    
    margin:auto;
    
    resize: both;
    overflow: hide;
}
  
.boxim {
    padding-right: 20px;
    padding-bottom: 10px;
    float: left;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
  

.BoxF .aboutbox h1 {
    margin: 0;
    padding-left: 0;
    color: rgb(188, 206, 27);
    margin-top: auto;
}
/*award1*/
.EIEA {
    padding: 80px;
    
    height: 2%;
    background-color: #fff;
    
    margin:auto;
    
    resize: both;
    overflow: hide;
}

.EIEAim {
    padding-right: 20px;
    padding-bottom: 10px;
    float: left;
    width: 290px;
    height: 360px;
    object-fit: cover;
}

.instaim {
    padding-right: 20px;
    padding-bottom: 10px;
    float: left;
    width: 100px;
    height: 80px;
    object-fit: cover;
}
.insta {
    padding: 80px;
    text-align: center;
    height: 2%;
    background-color: #fff;
    
    margin:auto;
    
    resize: both;
    overflow: hide;
}
.EIEA .aboutEIEA h2 {
    margin: 0;
    padding-left: 0;
    color: rgb(188, 206, 27);
    margin-top: auto;
}

.EIEA .aboutEIEA h4 {
    color: rgb(238, 71, 20);
}

/*grey award*/
.OS{
    padding: 90px;
    
    
    background-color: rgb(105, 103, 103);
    
    margin:auto;
    
    resize: both;
    overflow: hide;
}

.OSim {
    padding-right: 20px;
    padding-bottom: 10px;
    float: right;
    width: 400px;
    height: 300px;
    object-fit: cover;
}
  
.aboutOS h2 {
    margin: 0;
    padding-left: 0;
    color: rgb(188, 206, 27);
    margin-top: auto;
}

.aboutOS h4{
    color: rgb(255, 209, 5);
}

.aboutOS{
    color: #fff;
}

.aboutEIEA hr{
    height: 10px;
}

/*sport*/

.sport{
    padding: 130px;
    
    
    background-color: rgb(105, 103, 103);
    
    margin:auto;
    
    resize: both;
    overflow: hide;
}

.sportim {
    padding-right: 20px;
    padding-bottom: 10px;
    float: right;
    width: 250px;
    height: 300px;
    object-fit: cover;
}
  
.aboutsport h2 {
    margin: 0;
    padding-left: 0;
    color: rgb(188, 206, 27);
    margin-top: auto;
}

.aboutsport h4{
    color: rgb(255, 209, 5);
}

.aboutsport{
    color: #fff;
}

.info span{
    font-size: 20px;
    font-weight: 600;
    color: rgb(119, 0, 255);

}


.srbadim {
    padding-right: 20px;
    padding-bottom: 10px;
    float: left;
    width: 200px;
    height: 250px;
    object-fit: cover;
}



/*Education*/

.UofT {
    padding: 0px;
    
    height: 2%;
    background-color: #fff;
    
    margin:auto;
    
    resize: both;
    overflow: hide;
}

.UofTim {
    padding-right: 20px;
    padding-bottom: 10px;
    float: left;
    width: 150px;
    height: 130px;
    object-fit: cover;
}
  
.UofT .aboutUofT h2 {
    margin: 0;
    padding-left: 0;
    color: rgb(188, 206, 27);
    margin-top: auto;
}

.UofT .aboutUofT h4 {
    color: rgb(238, 71, 20);
}
.smodel{
    position: relative;
    right: -50%;
    margin: 0px !important;
    padding: 0px !important;
}
.bars{
    margin-bottom: 30px;
}

.info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bars .line{
    height: 15px;
    width: 100%;
    background-color:lightgray;
    
    
}

.bars .line::before{
    content: "";
    
    height: 1000%;
    width: 100%;
    left:0;
    top:0;
    background-color: lime;
}

.progress{
    width: 100px;
}

.avatar{
    border-radius: 50%;
    
}

progress::-webkit-progress-bar {
    background: rgb(38, 255, 0);
}

.aboutbox h3{
    position: relative;
    right: -50%;
    margin: 0px !important;
    padding: 0px !important;
    color: rgb(248, 193, 10);
}

.glow{
    
	margin: 0 auto;
	margin-bottom: 1em;
	font-weight: bold;
    animation: glow 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #44fc0c, 0 0 40px #44fc0c, 0 0 50px #44fc0c, 0 0 60px #44fc0c, 0 0 70px #44fc0c,0 0 80px #44fc0c;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #15ff00, 0 0 40px #15ff00, 0 0 50px #15ff00, 0 0 60px #15ff00, 0 0 70px #15ff00, 0 0 80px #15ff00, 0 0 90px #15ff00;
    }
}





.frameteam{
    position: absolute;
    right: 7%;
    margin: 0px !important;
    padding: 0px !important;
}

.btn{
    border: 1px solid #14e4f3;
    background: #f33a33;
    padding: 10px 25px;
    margin: 10px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    position: relative;
    overflow: hidden;
    
}
.F1{
    color: #fff;
}
.F1:hover{
    color: #000000;
}

.btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height:0%;
    background: #25ebf1;
    z-index: -1;
    transition: 0.5s;
}

.F1::before{
    top: 0;
    border-radius: 0 0 50% 50%;
}

.F1:hover::before{
    height: 180%;
}

.frameteam h3{
    margin: 0px;
}


.Khang .aboutkhang h1{
    margin: 0;
    padding-left: 0;
    color: rgb(188, 206, 27);
    margin-top: auto;
    text-align: left;
}

.Email{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,0%);
    padding: 120px;
    width: 30%;
    height: 100px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex;
    resize: both;
    overflow: auto;
}

.index-news{
    width: 100%;
    padding: 80px 0px;
    height: 700px;
    width: 10px auto;
    background-color: #ccc;
    overflow: hidden;
}

.wrapper{
    width: 1400px;
    top: 3px;
    margin: 0 auto;
    
    
    
}

.index-news h1{
    text-align: center;
}

.index-news article{
    width: 20%;
    background-color: rgba(139, 139, 86, 0.883);
    float: left;
    margin: 0px 4%;
}

.new-img1{
    width: 100%;
    height: 200px;
    text-align: center;
    background-image: url('cnts.JPG') ;
}

.new-img{
    width: 100%;
    height: 200px;
    text-align: center;
    background-image: url('cms.JPG') ;
}

.new-img2{
    width: 100%;
    height: 200px;
    text-align: center;
    background-image: url('ACSToolbox.jpg') ;
    background-size: 150px;
}

.index-news h3{
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    color: rgb(188, 206, 27);;

}

.middle {
    transition: .5s ease;
    opacity: 0;
    
    width: 200px;

    left: 50%;
    transform: translate(25%, 160%);
    -ms-transform: translate(0%, 0%);
    text-align: center;
}

.container2:hover .new-img1 {
    opacity: 0.3;
}
  
.container2:hover .middle {
    opacity: 1;
}

.container2{
    left: 0%;
}

.text {
    background-color: #ffffff;
    color: rgb(223, 6, 6);
    width: 170px;
    font-size: 16px;
    padding: 16px 32px;
}

.aboutkhang{
    padding-left: 20px;
    top: 0px;
}

.Khang .aboutkhang p{
    margin: 0;
    padding: 10px 0 0; 
    font-size: 17px;
}

.resume{
    margin: 0;
    float: right;
    width: 70%;
    height:1000;
    
    transform: translate(15%,0%);
    position: absolute;

}

.helloex{
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%,0%);
    padding: 120px;
    width: 50%;
    height: 10%;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex;
    resize: both;
    overflow: auto;
}

.myresume2{
    
    position: relative;
    top: 80%;
    left: 50%;
    transform: translate(-50%,20%);
    padding: 120px;
    width: 80%;
    height: 400px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex;
    resize: both;
    overflow: auto;
}

.column{
    flex: 50%;
    padding: 10px;
    height: 100%;
    width: 50%;
    background-color: aliceblue;
}

.myresume{
    top: 0px;
}
.resume{
    transform: translate(-10%,15%);
    position: relative;
}





#EXP{
    color:rgb(209, 223, 87);
    text-align: center;
    font-size: 70px;
    margin: 10px;
    padding: 0px;
}





.aboututat > h2{
    margin: 0px;
    padding: 0px;
}

.aboututat > h3{
    margin: 0px;
    padding: 0px;
}

.aboututat > h5{
    margin: 3px;
    padding: 0px;
}


.ha{
    margin: 0px;
    padding: 0px;
    right: 2%;
    font-size:10px;
}





.BarrieCity{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,10%);
    padding: 120px;
    width: 60%;
    height: 200px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex;
    resize: both;
    overflow: auto;
}
.BarrieCity .aboutBC{
    padding-left: 20px;
    top: 0px;
}



.aboutBC > h2{
    margin: 0px;
    padding: 0px;
}

.aboutBC > h3{
    margin: 0px;
    padding: 0px;
}

.aboutBC > h5{
    margin: 3px;
    padding: 0px;
}

/* tennis part*/
.Tennis{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,20%);
    padding: 120px;
    width: 60%;
    height: 200px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex; 
    resize: both;
    overflow: auto;
}

.abouttennis > h2{
    margin: 0px;
    padding: 0px;
}

.abouttennis > h3{
    margin: 0px;
    padding: 0px;
}

.abouttennis > h5{
    margin: 3px;
    padding: 0px;
}


.award2{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,20%);
    padding: 120px;
    width: 50%;
    height: 200px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex; 
    resize: both;
    overflow: auto;
}



#AW1{
    color:rgb(209, 223, 87);
    text-align: center;
    font-size: 60px;
    margin: 10px;
    padding: 0px;
}

.award3{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,40%);
    padding: 120px;
    width: 50%;
    height: 50px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex; 
    resize: both;
    overflow: auto;
}

.award4{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    padding: 120px;
    width: 50%;
    height: 50px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex; 
    resize: both;
    overflow: auto;
}

.award6{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,40%);
    padding: 120px;
    width: 50%;
    height: 160px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex; 
    resize: both;
    overflow: auto;
}

.award7{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    padding: 120px;
    width: 50%;
    height: 160px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex; 
    resize: both;
    overflow: auto;
}

.award8{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,60%);
    padding: 120px;
    width: 50%;
    height: 160px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex; 
    resize: both;
    overflow: auto;
}

.award9{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,70%);
    padding: 120px;
    width: 50%;
    height: 160px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex; 
    resize: both;
    overflow: auto;
}

.award10{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,80%);
    padding: 120px;
    width: 50%;
    height: 160px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex; 
    resize: both;
    overflow: auto;
}

.award11{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,90%);
    padding: 120px;
    width: 50%;
    height: 160px;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 5px 15px rgba(0, 255, 13, 0.5);
    display: flex; 
    resize: both;
    overflow: auto;
}

/* Header/Blog Title */
.header2 {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: white;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */
.leftcolumn {
    float: left;
    width: 75%;
  }
  
  /* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }
  
  /* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.fakeimg1 {
    background-image: url('cnts2.JPG');
    width: 100%;
    padding: 20px;
}

.middleb {
    transition: .5s ease;
    opacity: 0;
    
    width: 150px;

    left: 50%;
    transform: translate(220%, 110%);
    -ms-transform: translate(0%, 0%);
    text-align: center;
}

.card1:hover .fakeimg1 {
    opacity: 0.3;
}
  
.card1:hover .middleb {
    opacity: 1;
}

.card1 {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.textb {
    background-color: aliceblue;
    color: rgb(223, 6, 6);
    width: 200px;
    font-size: 16px;
    padding: 16px 32px;
}
  /* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
.leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
  }


.footer-basic {
    padding:40px 0;
    background-color:#646464;
    color:#621de2;
}
  
.footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
}
  
.footer-basic li {
    padding:0 10px;
}
  
.footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
}
  
.footer-basic ul a:hover {
    opacity:1;
}
  
.footer-basic .social {
    text-align:center;
    padding-bottom:25px;
}
  
.footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
}
  
.footer-basic .social > a:hover {
    opacity:0.9;
}
  
.footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}
/*word moving*/

#rssBlock{
    left:0px;
    height: 80px;
    background: #FFFFFF;
    position: absolute;
    width:1070px;
    overflow: hidden;
  }
  
  /*remove p*/
.cnnContents {
    width:100%;
    padding-top: 20px;
    margin:0 auto;
    font-size: 25px;
    white-space: nowrap;
    text-transform: uppercase;
    font-family: 'Museo';
    font-weight: 300;
}
  
.marqueeStyle {
    display:inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left1 0s linear infinite;
    animation: scrolling-left1 50s linear infinite;
}
  
.marqueeStyle2 {
    display:inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left2 20s linear infinite;
    animation: scrolling-left2 0s linear infinite;
    animation-delay: 50s;
}
  /* scrolling-left is continuous/repeatly text */
@keyframes scrolling-left1 {
    0% {transform: translateX(100%);
          -webkit-transform: translateX(100%);}
    100% {transform: translateX(-100%);
         -webkit-transform: translateX(-100%);}
}
@keyframes scrolling-left2 {
    0% {transform: translateX(0%);
          -webkit-transform: translateX(0%);}
    100% {transform: translateX(-200%);
        -webkit-transform: translateX(-200%);}
}
  
@-webkit-keyframes scrolling-left1 {
    0% {-webkit-transform: translateX(100%);}
    100% {-webkit-transform: translateX(-100%);}
}
@-webkit-keyframes scrolling-left2 {
    0% {-webkit-transform: translateX(0%);}
    100% {-webkit-transform: translateX(-200%);}
}
/* Skill Section */
#skill-section h1{
    margin: 0;
    padding-left: 0;
    color: rgb(96, 125, 198);
    margin-top: auto;
    text-align: center;
}
#skill-section {
    background-color: rgb(223, 223, 230);
}
.card-container {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    flex-wrap: wrap;
    margin: 50px auto;
    gap: 50px;
  /*   border: 1px solid red; */
}
.skill-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 220px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    text-align: left; /* Changed from center to left */
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    text-align: center;
}
.skill-card:hover{
    box-shadow: 3px 3px 6px black;
    transform: scale(1.03);
}
.skill-card-logo {
    width: 80px;
    aspect-ratio: 1/1; /* Added after recording part */
}
.skill-bar-wrapper {
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
.skill-bar-wrapper > .fab, .skill-bar-wrapper > .fas {
    font-size: 38px;
    margin-right: 2%;
}
.bar-container {
    height: 38px;
    width: 90%;
    margin-left: 10px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0px;
}
.bar {
    padding: 0px;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.bar > p {
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
    padding: 0;
    text-align: center; /* Needed if skill-card text-align is not set to center. */
    margin: auto;
}
  /* .skill-card > p {
    text-align: justify;
  } */

.info-button {
    border: 1px solid black;
    color: black;
    padding: 10px;
    margin-top: auto;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.info-button:hover {
    color: white;
    cursor: pointer; 
    background-color: black;
    transform: scale(1.03);
    box-shadow: 2px 2px 5px black;
}

.section-hr {
    width: 15%;
    min-width: 200px;
    margin: 20px auto; /* Changed from 10px to 20px in part 4 */
    border: 2px solid black;
    box-shadow: 2px 2px 5px black;
}


/*personal value*/

.image-text-container {
    display: flex;
    gap: 2%;
    margin-top: 50px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.text-wrapper {
    width: 100%;
    max-width: 600px;
}
.text-wrapper h2{
    text-align: center;
}
.text-wrapper-desc {
    text-align: justify;
}
.text-wrapper p{
    text-align: center;
}
.image-card {
    width: 100%;
    max-width: 200px;
    aspect-ratio: 9/9;
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 5px black;
}
.image-card:hover{
    transform: scale(1.05);
    box-shadow: 3px 3px 6px black;
}
.row-reverse {
    flex-direction: row-reverse;
}
  
  /* Divide Section */
  
.divide-section {
    text-align: center;
    background-color: black;
    color: white;
    box-shadow: 2px 2px 5px black;
}
.quote-text {
    margin: 10px auto;
    max-width: 1920px;
    font-size: 30px;
}
.quote-text:before {content: open-quote;}
.quote-text:after {content: close-quote;}
.quote-credit {
font-size: 25px;
}
h3 {
    margin-bottom: 20px;
}

#value h1{
    text-align: center;
}

  
/* companies section */
#companies-section h1{
    margin: 0;
    padding-left: 0;
    color: rgb(96, 125, 198);
    margin-top: auto;
    text-align: center;
}

#companies-section p{
    margin: 0;
    padding-left: 0;
    
    margin-top: auto;
    text-align: center;
}
#companies-section {
    background-color: white;
    
}
.org-container {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    flex-wrap: wrap;
    margin: 50px auto;
    gap: 0px;

}
.org-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 250px;

    text-align: left; 
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    text-align: center;
}

.company-logo {
    width: 100px;
    
}

sup {
    vertical-align: top;
    font-size: smaller;
}

.contact-button {
    border: 1px solid black;
    color: red;
    background-color: rgb(0, 243, 16);
    padding: 10px;
    margin-top: auto;
    display: block;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
}
.contact-button:hover {
    color: white;
    
    cursor: pointer; 
    background-color: black;
    transform: scale(1.03);
    box-shadow: 2px 2px 5px black;
}

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 800px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px black;
    text-align: left; /* Changed from center to left */
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    text-align: center;
}



.social-media {
    padding: 2rem 0 0 0;
    text-align: center;
}
  
.social-media p {
    color: #333;
}
  
.social-icons {
    display: flex;
    margin-top: 0.5rem;
    text-align: center;
}
  
.social-icons a {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background: linear-gradient(45deg, #1abc9c, #149279);
    color: #fff;
    text-align: center;
    line-height: 35px;
    margin-right: 0.5rem;
    transition: 0.3s;
}
  
.social-icons a:hover {
    transform: scale(1.05);
}

.icon2{
    font-size: 35px;
}

#PE{
    color:rgb(122, 8, 223);
    text-align: center;
    font-size: 60px;
    margin: 10px;
    padding: 0px;
}

.org-card img{
    padding: 9px;
}


.career-card {
    display: flex;
    flex-direction: column;
    align-items: left;
    
    width: 1000px;

    text-align: left; 
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    text-align: left;
}

.career-container {
    display: flex;
    justify-content: center;
    max-width: 1920px;
    flex-wrap: wrap;
    gap: 0px;

}


.careerim {
    padding-right: 20px;
    padding-bottom: 10px;
    float: left;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.career-card2 {
    display: flex;
    flex-direction: column;
    align-items: left;
    
    width: 800px;

    text-align: left; 
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    text-align: left;
}

.marqueeStyle3 {
    display:inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left1 1s linear infinite;
    animation: scrolling-left1 90s linear infinite;
}